<div class="{{ section.settings.color-scheme }} container pd-section">
  <div class="image-text__container d-flex {{ section.settings.image-placement }}">
    <div
      class="image-text__media {{ section.settings.image-height }}"
      style="--w-md:{{ section.settings.image-width }};"
    >
      {% if section.settings['image-item'] != blank %}
        <img
          src="{{ section.settings.image-item | img_url: '2000x' }}"
          class="w-100 h-100 object-fit-cover d-block"
          alt=""
        >
      {% else %}
        <div class="img__placeholder img__placeholder--pd">{{ 'image' | placeholder_svg_tag }}</div>
      {% endif %}
    </div>
    <div
      class="image-text__text"
      style="--w-md:calc(12 - {{ section.settings.image-width }});"
    >
      <div class="image-text__box h-100 d-flex {{ section.settings.content_position }}">
        <div class="image-text__content {{ section.settings.content_align }}">
          {% for item in section.blocks %}
            {% case item.type %}
              {% when 'heading' %}
                <h2 class="image-text__title {{ item.settings.heading-size }}">{{ item.settings.heading }}</h2>
              {% when 'description' %}
                {% if item.settings.description != blank %}
                  <p class="image-text__context h4">{{ item.settings.description }}</p>
                {% endif %}
              {% when 'button' %}
                {% if item.settings.button_url != blank %}
                  <a href="{{ item.settings.button_url }}" class="image-text__btn btn {{ item.settings.style-btn }}">
                    {{- item.settings.button_label -}}
                  </a>
                {% endif %}
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image with text",
  "tag": "section",
  "class": "image-with-text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image-item",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image-height",
      "label": "Image height",
      "options": [
        {
          "value": "adapt-image",
          "label": "Adapt to image"
        },
        {
          "value": "small-image",
          "label": "Small"
        },
        {
          "value": "medium-image",
          "label": "Medium"
        },
        {
          "value": "large-image",
          "label": "Large"
        }
      ],
      "default": "adapt-image"
    },
    {
      "type": "select",
      "id": "image-width",
      "label": "Desktop image width",
      "options": [
        {
          "value": "4",
          "label": "Small"
        },
        {
          "value": "6",
          "label": "Medium"
        },
        {
          "value": "8",
          "label": "Large"
        }
      ],
      "default": "6"
    },
    {
      "type": "select",
      "id": "image-placement",
      "label": "Desktop image placement",
      "options": [
        {
          "value": "image-text__no-reverse",
          "label": "Image first"
        },
        {
          "value": "image-text__reverse",
          "label": "Image second"
        }
      ],
      "default": "image-text__no-reverse"
    },
    {
      "type": "select",
      "id": "color-scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "background-default",
          "label": "Background default"
        },
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        }
      ],
      "default": "background-default"
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Desktop content position",
      "options": [
        {
          "value": "content__top-left",
          "label": "Top left"
        },
        {
          "value": "content__top-center",
          "label": "Top center"
        },
        {
          "value": "content__top-right",
          "label": "Top right"
        },
        {
          "value": "content__middle-left",
          "label": "Middle left"
        },
        {
          "value": "content__middle-center",
          "label": "Middle center"
        },
        {
          "value": "content__middle-right",
          "label": "Middle right"
        },
        {
          "value": "content__bottom-left",
          "label": "Bottom left"
        },
        {
          "value": "content__bottom-center",
          "label": "Bottom center"
        },
        {
          "value": "content__bottom-right",
          "label": "Bottom right"
        }
      ],
      "default": "content__middle-center"
    },
    {
      "type": "select",
      "id": "content_align",
      "label": "Desktop content align",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-left"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "name": "Heading",
      "type": "heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Image text"
        },
        {
          "type": "select",
          "id": "heading-size",
          "options": [
            {
              "value": "h1",
              "label": "large"
            },
            {
              "value": "h2",
              "label": "medium"
            },
            {
              "value": "h3",
              "label": "small"
            }
          ],
          "default": "h2",
          "label": "Heading size"
        }
      ]
    },
    {
      "name": "Description",
      "type": "description",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "description",
          "label": "Description",
          "default": "Give customers details about the banner image(s) or content on the template."
        }
      ]
    },
    {
      "name": "Buttons",
      "type": "button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "style-btn",
          "label": "Button style",
          "options": [
            {
              "value": "btn__link",
              "label": "Link"
            },
            {
              "value": "btn__outline",
              "label": "Outline"
            },
            {
              "value": "btn__solid",
              "label": "Solid"
            }
          ],
          "default": "btn__solid"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image width text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "description"
        },
        {
          "type": "button"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header"] 
  }
}
{% endschema %}
