<div class="product-detail__container background-default pd-section">
  <div class="container">
    <div class="row {{ section.settings.media-position }}">
      <div class="col p-relative" style="--w-md: {{ section.settings.media-width }};">
        <img class="p-absolute icon-zoom" src="{{ 'icon-zoom.svg' | asset_url }}" alt="">
        <div class="product-detail__media">
          <div class="image__items d-flex">
            {% for image in product.media %}
              <div class="image__item w-100">
                <img class="w-100" src="{{ image.preview_image | img_url: 'x2000' }}" alt="image product">
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col" style="--w-md: calc(12 - {{ section.settings.media-width }});">
        <div class="product-detail__info">
          <h1 class="product-detail__name">
            {{ product.title }}
          </h1>
          <span class="product-detail__price d-block">{{ product.price | money }}</span>
          <div class="product-detail__variants">
            <h3 class="product-detail__variant--title h6">Color</h3>
            <div class="product-detail__variant--items d-flex">
              {% for variant in product.variants %}
                <button class="product-detail__variant--item">{{ variant.title }}</button>
              {% endfor %}
            </div>
          </div>
          <div class="product-detail__quantity">
            <h3 class="h6">Quantity</h3>
            <div class="select__number p-relative">
              <button class="select__number--minus cursor-pointer p-absolute">
                <img src="{{ 'minus.svg' | asset_url }}" alt="sub">
              </button>
              <input type="text" value="1" class="select__number--value heading-6 w-100 h-100">
              <button class="select__number--plus cursor-pointer p-absolute">
                <img src="{{ 'plus.svg' | asset_url }}" alt="sum">
              </button>
            </div>
          </div>
          <button class="btn product-detail__addtocart w-100">
              Add to cart
          </button>

          <button class="btn product-detail__buynow w-100">
              Buy it now
          </button>

          <div class="product-detail__description">
            {{ product.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

.
{% schema %}
{
  "name": "Product infomation",
  "tag": "section",
  "class": "product-detail",
  "settings": [
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "select",
      "id": "media-width",
      "label": "Desktop media width",
      "options": [
        {
          "value": "5",
          "label": "Small"
        },
        {
          "value": "6",
          "label": "Medium"
        },
        {
          "value": "7",
          "label": "Large"
        }
      ],
      "default": "7",
      "info": "Media is automatically optimized for mobile."
    },
    {
      "type": "select",
      "id": "media-position",
      "label": "Desktop media position",
      "options": [
        {
          "value": "none-revert",
          "label": "Left"
        },
        {
          "value": "row-revert",
          "label": "Right"
        }
      ],
      "default": "none-revert"
    }
  ]
}
{% endschema %}
