{{ 'select-number.js' | asset_url | script_tag }}

<div class="product-detail__container background-default pd-section">
  <div class="container">
    <div class="row {{ section.settings.media-position }}">
      <div class="col p-relative" style="--w-md: {{ section.settings.media-width }};">
        <img class="p-absolute icon-zoom" src="{{ 'icon-zoom.svg' | asset_url }}" alt="">
        <div class="product-detail__media">
          <div class="media__items d-flex">
            {% for image in product.media %}
              {% assign numberImg = forloop.length %}
              <div class="media__item w-100">
                <img class="w-100" src="{{ image.preview_image | img_url: 'x2000' }}" alt="image product">
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="product-detail__slide-control d-flex justify-center">
          <div class="slide-control__slide p-relative">
            <button class="slide-control__slide--prev cursor-pointer p-absolute">
              <img src="{{ 'chevron-left.svg' | asset_url }}" alt="sub">
            </button>
            <input type="text" value="1/{{ numberImg }}" class="slide-control__slide--value heading-6 w-100 h-100">
            <button class="slide-control__slide--next cursor-pointer p-absolute">
              <img src="{{ 'chevron-right.svg' | asset_url }}" alt="sum">
            </button>
          </div>
        </div>
      </div>
      <div class="col" style="--w-md: calc(12 - {{ section.settings.media-width }});">
        <div class="product-detail__info">
          {% form 'product', product %}
            {% for item in section.blocks %}
              {% case item.type %}
                {% when 'title' %}
                  <h1 class="product-detail__name">
                    {{ product.title }}
                  </h1>
                {% when 'price' %}
                  <div class="product-detail__price d-block">
                    {% if product.compare_at_price != blank %}
                      <del class="product__price--old h5">{{ product.compare_at_price | money }}</del>
                    {% endif %}
                    <span class="product__price--new h4">{{ product.price | money }}</span>
                  </div>
                {% when 'variant' %}
                  <div class="product-detail__variants">
                    {% for option in product.options_with_values %}
                      <div class="product-detail__variant">
                        <h3 class="product-detail__variant--title h6">{{ option.name }}</h3>
                        <div class="product-detail__variant--items d-flex">
                          {% for value in option.values %}
                            <input
                              class="custom-radio radio-{{ value }}"
                              type="radio"
                              name="{{ option.name }}"
                              id="{{ value }}"
                            >
                            <label
                              class="custom-label product-detail__variant--item label-{{ value }}"
                              for="{{ value }}"
                            >
                              {{ value }}
                            </label>
                          {% endfor %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                  <div class="d-none">
                    <select name="id">
                      {% for variant in product.variants %}
                        <option
                          value="{{ variant.id }}"
                          {% if variant == product.selected_or_first_available_variant %}
                            selected="selected"
                          {% endif %}
                        >
                          {{ variant.title }} - {{ variant.price | money }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                {% when 'quantity' %}
                  <div class="product-detail__quantity">
                    <h3 class="quantity__heading h6">Quantity</h3>
                    <div class="select__number p-relative">
                      <button
                        type="button"
                        class="select__number--minus cursor-pointer p-absolute"
                        onclick="decreaseQuantity()"
                      >
                        <img src="{{ 'minus.svg' | asset_url }}" alt="sub">
                      </button>
                      <input
                        type="text"
                        name="quantity"
                        min="1"
                        value="1"
                        class="select__number--value heading-6 w-100 h-100"
                      >
                      <button
                        type="button"
                        class="select__number--plus cursor-pointer p-absolute"
                        onclick="increaseQuantity()"
                      >
                        <img src="{{ 'plus.svg' | asset_url }}" alt="sum">
                      </button>
                    </div>
                  </div>
                {% when 'buy-button' %}
                  <input class="btn product-detail__addtocart w-100" type="submit" value="Add to cart">
                  <input class="btn product-detail__buynow w-100" type="submit" value="Buy it now">

                {% when 'description' %}
                  <div class="product-detail__description">
                    {{ product.description }}
                  </div>
                {% when 'colapsible' %}
                  <div class="product-detail__describe">
                    <details class="describe__item">
                      <summary class="describe__summary d-flex align-center space-between p-relative">
                        <div class="d-flex align-center">
                          <img class="describe-icon" src="{{ item.settings.icon-colapsible | asset_url }}" alt="">
                          {{ item.settings['heading-colapsible'] }}
                        </div>
                        <div class="describe__icon--action d-flex align-center">
                          <img class="icon-open d-block" src="{{ 'icon-chevron-down.svg' | asset_url }}" alt="">
                          <img class="icon-close d-none" src="{{ 'chevron-up.svg' | asset_url }}" alt="">
                        </div>
                      </summary>
                      <p class="describe__context heading-4">
                        {{ item.settings['row-content'] }}
                      </p>
                    </details>
                  </div>
                {% when 'share' %}
                  <div class="describe__item describe__item--share">
                    <a class="product-detail__anchor" href="#">
                      <div class="d-flex align-center">
                        <img class="describe-icon" src="{{ 'share.svg' | asset_url }}" alt="">
                        Share
                      </div>
                    </a>
                  </div>
              {% endcase %}
            {% endfor %}
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  {% for option in product.options_with_values %}
    {% for value in option.values %}
      .radio-{{ value }}:checked ~ .label-{{ value }} {
        background-color: var(--color-txt);
        color: var(--color-bg);
      }
    {% endfor %}
  {% endfor %}
</style>

{% schema %}
{
  "name": "Product infomation",
  "tag": "section",
  "class": "product-detail",
  "settings": [
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "select",
      "id": "media-width",
      "label": "Desktop media width",
      "options": [
        {
          "value": "5",
          "label": "Small"
        },
        {
          "value": "6",
          "label": "Medium"
        },
        {
          "value": "7",
          "label": "Large"
        }
      ],
      "default": "7",
      "info": "Media is automatically optimized for mobile."
    },
    {
      "type": "select",
      "id": "media-position",
      "label": "Desktop media position",
      "options": [
        {
          "value": "none-revert",
          "label": "Left"
        },
        {
          "value": "row-revert",
          "label": "Right"
        }
      ],
      "default": "none-revert"
    }
  ],
  "blocks": [
    {
      "name": "Title",
      "type": "title",
      "settings": []
    },
    {
      "name": "Price",
      "type": "price",
      "settings": []
    },
    {
      "name": "Variant",
      "type": "variant",
      "settings": []
    },
    {
      "name": "Quantity",
      "type": "quantity",
      "settings": []
    },
    {
      "name": "Buy button",
      "type": "buy-button",
      "settings": [
        {
          "type": "checkbox",
          "id": "show-add-to-cart",
          "label": "Show dynamic checkout buttons",
          "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay."
        }
      ]
    },
    {
      "name": "Description",
      "type": "description",
      "settings": []
    },
    {
      "name": "Colapsible row",
      "type": "colapsible",
      "settings": [
        {
          "type": "text",
          "id": "heading-colapsible",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "icon-colapsible",
          "label": "Icon",
          "options": [
            {
              "value": "heart.svg",
              "label": "Heart"
            },
            {
              "value": "materials.svg",
              "label": "Materials"
            },
            {
              "value": "ruler.svg",
              "label": "Ruler"
            }
          ],
          "default": "heart.svg"
        },
        {
          "type": "richtext",
          "id": "row-content",
          "label": "Row content"
        }
      ]
    },
    {
      "name": "Share",
      "type": "share",
      "settings": []
    }
  ],
  "presets": [
    {
      "name": "Product infomation",
      "settings": {},
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "price"
        },
        {
          "type": "variant"
        },
        {
          "type": "quantity"
        },
        {
          "type": "buy-button"
        },
        {
          "type": "description"
        },
        {
          "type": "share"
        }
      ]
    }
  ]
}
{% endschema %}
