<div class="container pd-section background-default">
  <div class="cart__header d-flex space-between align-center">
    <h1 class="h2">Your cart</h1>
    <a class="h4" href="/collections/all">Continue shopping</a>
  </div>
  <div class="cart__container">
    <div class="cart__heading">
      <div class="cart__item d-grid">
        <div class="cart__image">
          <span class="h6">PRODUCT</span>
        </div>
        <div class="cart__title"></div>
        <div class="cart__quantity">
          <span class="d-none lg-initital h6">QUANTITY</span>
        </div>
        <div class="cart__total">
          <span class="h6">TOTAL</span>
        </div>
      </div>
    </div>
    <div class="cart__content">
      {% for item in cart.items %}
        <div class="cart__item d-grid">
          <div class="cart__image">
            <img class="w-100" src="{{ item.image | img_url: 'x300' }}" alt="">
          </div>
          <div class="cart__title">
            <h3 class="cart__name h4">Naomi Mini Wallet</h3>
            <span class="cart__color h5">Color: Cotton Candy</span>
          </div>
          <div class="cart__quantity">
            <div class="cart__quantity--container d-flex align-center">
              <div class="select__number p-relative">
                <button class="select__number--minus cursor-pointer p-absolute">
                  <img src="{{ 'minus.svg' | asset_url }}" alt="sub">
                </button>
                <input
                  type="text"
                  name="quantity"
                  min="1"
                  value="{{ item.quantity }}"
                  class="select__number--value heading-6 w-100 h-100"
                >
                <button class="select__number--plus cursor-pointer p-absolute">
                  <img src="{{ 'plus.svg' | asset_url }}" alt="sum">
                </button>
              </div>
              <div class="cart__delete cursor-pointer d-flex align-center justify-center">
                <img src="{{ 'delete.svg' | asset_url }}" alt="delete">
              </div>
            </div>
          </div>
          <div class="cart__total h4">{{ item.original_price | money }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="cart__footer w-100">
    <div class="cart__footer--total h4">Subtotal {{ cart.total_price | money }}</div>
    <p class="cart__footer--context h6">Taxes and shipping calculated at checkout</p>
    <button class="btn cart__btn">Checkout</button>
  </div>
</div>

{% schema %}
{
  "name": "Cart",
  "tag": "section",
  "class": "cart",
  "settings": []
}
{% endschema %}
